<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="signatureValidationMode" value="accept" />
    <add key="storePasswordInClearText" value="false" />
    <add key="globalPackagesFolder" value=".nuget\packages" />
    <add key="trustedSigners" value="" />
    <add key="allowUntrustedRoot" value="true" />
    <add key="ignoreFailedSources" value="true" />
  </config>
</configuration>
